<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<body>
    <style>
        body    {background-color: red} 
        h1      {color: rgb(102, 90, 90)}
        a       {color: white}
    </style>
    <h1><%= title %></h1>
    <a href="/skills">My Computer Software Developer Skills</a>