<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express-Dev-Skills</title>
</head>
<body>
<style>
    body {background-color: rgb(102, 90, 90)} 
    h1   {color: white}
    a    {color: red}
</style>
    <a href="/">Home</a>
    <h1>My Computer Software Developer Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form 
                    action="/skills/<%= s.id %>?_method=DELETE"
                    method="POST"
                    class="delete-form"
                >
                    <button type="submit">X</button>
                </form>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                - 
                <%= s.done ? 'done' : 'not done' %>
            </li>    
        <% }); %>
    </ul>
    <a href="/skills/new">Add A Skill</a>
</body>
</html>