<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Express-Dev-Skills</title>
</head>
<body>
<style>
    body {background-color: rgb(102, 90, 90)} 
    h1   {color: white}
    a    {color: red}
</style>
    <a href="/">Home</a>
    <h1>Add A New Computer Software Developer Skills</h1>
    <form action="/skills" method="POST">
        <input type="text" name="skill">
        <button type="submit">Save New Skill</button>
    </form>
</body>
</html>